package-lock=true
unsafe-perm=true
save-exact=true
save-prefix=""
message="chore(package): bump version to %s"
progress=false
update-notifier=false
unicode=true
loglevel="warn"
no-audit=true
tag-version-prefix=""
